
#many:hover{
    content:url("a.jpg");
}
#kaenai:hover{
    content:url("kaeta.jpg");
}
#cafe:hover{
    content:url("hangaku.jpg");
}
.box{
    margin: 50px;
    padding: 50px;
    background-color: rgb(220, 20, 60);
}
